<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Leaf Image</title>
</head>

<body>
    <div class="upload-container">
        <h2>Upload Leaf Image for Disease Detection</h2>
        <form action="/upload/" method="post" enctype="multipart/form-data">
            <div class="upload-box">
                <input type="file" id="file-input" name="file">
                <label for="file-input">Click to Upload or Drag & Drop</label>
            </div>
            <button type="submit" class="upload-btn">Upload</button>
        </form>
    </div>
</body>

</html>